{% extends "layout.njk" %}

{% block content %}

    <h1 class="text-center bg-light"> Hello {{name}} </h1>
    <h1 class="text-center bg-light"> WHAT IS YOUR FEELING TODAY? </h1>

<div class="container-fluid bg-light">

<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-6">
    <a href=/feeling/{{name}}/5><div class="card" style="width: 20rem;">
      <img class="card-img-top" src="5.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Invincible</h4></a>
        <p class="card-text">You can break everything.</p>
      </div>
    </div>
 </div>

 <div class="col-lg-2 col-md-4 col-sm-6">
    <a href=/feeling/{{name}}/4><div class="card" style="width: 20rem;">
      <img class="card-img-top" src="4.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Ready</h4></a>
        <p class="card-text">Ready to start a new adventure.</p>
      </div>
    </div>
 </div>

 <div class="col-lg-2 col-md-4 col-sm-6">
    <a href=/feeling/{{name}}/3><div class="card" style="width: 20rem;">
      <img class="card-img-top" src="3.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Neutral</h4></a>
        <p class="card-text">Come to the good side.</p>
      </div>
    </div>
 </div>

 <div class="col-lg-2 col-md-4 col-sm-6">
    <a href=/feeling/{{name}}/2><div class="card" style="width: 20rem;">
      <img class="card-img-top" src="2.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Small health</h4></a>
        <p class="card-text">Not so far to find new challenge.</p>
      </div>
    </div>
 </div>

 <div class="col-lg-2 col-md-4 col-sm-6">
    <a href=/feeling/{{name}}/1><div class="card" style="width: 20rem;">
      <img class="card-img-top" src="1.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Underground</h4></a>
        <p class="card-text">We can help you.</p>
      </div>
    </div>
</div>
</div>
</div>


<div class="container-fluid bg-light">
<div class="row justify-content-center">
  <h1 class="mt-5"> YOUR FEELING TODAY IS : </h1>
  <div class="col-lg-6 col-6 mb-5 mt-5 justify-content-center">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="0.jpg" alt="Card image cap">
    </div>
 </div>


</div>
</div>



{% endblock %}
